<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Valores de inmuebles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" href="#"><h1>CIB-Soft</h1></a>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                        </li>
                </ul>             
            </div>
      </div>
    </nav>
    <div><br></div>
    <div class="offset-sm-2 col-md-6">
        <div class="container">
            <h1>Acerca de</h1>
            <br>
            <br>
            <p>Aplicativo creado utilizando datos extraidos de bases de datos del DANE y de datos abiertos del gobierno colombiano, con el cual se ha entrenado un modelo de Machine Learning que permite predecir los valores aproximados de Inmuebles tipo casas y apartamentos segun el sector donde se encuentre y caracteristicas como número de habitaciones, número de baños y Área del predio.</p>
            <span>
                <p>Developed by:</p><a href="https://www.linkedin.com/in/mario-acendra/">Mario Acendra</a>
            </span>
            
                        
        </div>
    </div>

    <div class="b-example-divider"></div>
    
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 Mario Acendra</span>
        </div>
        </footer>
    </div>
    
</body>
</html>